// Fonts
@font-face {
  font-family: "font-1";
  src: url("../fonts/HanaleiFill-Regular.woff");
}

@font-face {
  font-family: "font-2";
  src: url("../fonts/playfairdisplay-variablefont_wght-webfont.woff2");
}

// variables
$color-primary: black;
$color-white: white;
$ff-1: "font-1", sans-serif;
$ff-2: "font-2", serif;

// Mixins
@mixin flex($jc: start, $ai: start) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

%transition {
  transition: all 0.3s ease;
}

// global styles
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $ff-2;
}

h1 {
  font-size: 4.6rem;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
  font-weight: bold;
}

p,
a,
button,
label,
input {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-primary;
}

.container {
  width: 95%;
  margin: auto;
}

// header, navbar
nav {
  width: 90%;
  margin: auto;
  @include flex(space-between, center);
  padding: 2rem;
  #logo {
    width: 160px;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      margin-left: 12px;
      a {
        &:hover {
          text-shadow: 0 0 0.5px rgb(0, 0, 0);
        }
      }
    }
  }
  .nav-icon {
    filter: invert(100%);
    cursor: pointer;
    display: none;
  }
}

// Main (section)
main {
  text-align: center;
  .main-head {
    width: 70%;
    margin: auto;
    .title {
      text-transform: uppercase;
    }
    p {
      word-spacing: 4px;
      line-height: 30px;
      margin: 40px 0;
    }
  }

  .main-body {
    h2 {
      margin: 30px 0 20px 0;
      text-transform: uppercase;
    }
    .recipes {
      @include flex(start, center);
      flex-wrap: wrap;
      gap: 10px 20px;
      .recipe-item:nth-child(1) .recipe {
        background-image: url("../images/1.jpg");
      }
      .recipe-item:nth-child(2) .recipe {
        background-image: url("../images/2.jpg");
      }
      .recipe-item:nth-child(3) .recipe {
        background-image: url("../images/3.jpg");
      }
      .recipe-item:nth-child(4) .recipe {
        background-image: url("../images/4.jpg");
      }
      .recipe-item {
        flex: 1 1 48%;
        .recipe {
          height: 500px;
          position: relative;
          overflow: hidden;
          background-position: center;
          background-size: cover;
          .gradient {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.4);
            @extend %transition;
            opacity: 0;
          }
          &:hover p,
          &:hover .gradient {
            opacity: 1;
          }
          p {
            font-size: 2.8rem;
            letter-spacing: 5px;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $color-white;
            z-index: 1;
            @extend %transition;
          }
        }
      }
    }
  }
}

// footer
footer {
  height: 150px;
  text-align: center;
  @include flex(start, center);
  a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 772px) {
  nav {
    ul {
      display: none;
    }
    .nav-icon {
      display: block;
    }
  }
  main {
    .main-head {
      width: 90%;
      p {
        word-spacing: normal;
      }
    }
    .main-body {
      .recipes {
        .recipe-item {
          flex: 1 1 100%;
          .recipe {
            p {
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  nav {
    width: 100%;
  }
  main {
    .main-head {
      width: 100%;
    }
  }
}
